.form {
  display: flex;
  flex-direction: row;
  justify-content: center;
  margin-top: 100px;
}

.form input {
  box-sizing: border-box;
  width: 400px;
  border: 1px solid #424242;
  padding: 16px;
  outline: 0;
  font-size: 18px;
}

.form button {
  border: none;
  color: #fff;
  cursor: pointer;
  background-color: #424242;
  width: 150px;
}

/* RESPONSIVENESS */

/* MOBILE & PHABLET */

@media screen and (max-width: 600px) {
  .form input {
    width: 300px;
  }

  .form button {
    width: 140px;
  }
}

@media screen and (max-width: 470px) {
  .form {
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .form input {
    width: 80%;
    font-size: 18px;
    margin-bottom: 15px;
  }

  .form button {
    width: 80%;
    padding: 16px;
  }
}

@media screen and (max-width: 320px) {
  .form {
    margin-top: 50px;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .form input {
    width: 80%;
    font-size: 16px;
    margin-bottom: 15px;
  }

  .form button {
    width: 80%;
    padding: 16px;
  }
}