.header .heading {
  font-size: 50px;
  text-align: center;
  text-transform: uppercase;
  font-family: "Suez One", serif;
}

.header .sub-heading {
  font-size: 45px;
  text-align: center;
  font-family: "Suez One", serif;
  margin-top: 40px;
  color: #006ba6;
}

/* RESPONSIVENESS */

/* TABLET */

@media screen and (max-width: 780px) {
  .header .heading {
    font-size: 40px;
  }

  .header .sub-heading {
    font-size: 35px;
  }
}

/* MOBILE & PHABLET */

@media screen and (max-width: 680px) {
  .header .heading {
    font-size: 35px;
  }

  .header .sub-heading {
    font-size: 30px;
  }
}

@media screen and (max-width: 500px) {
  .header .sub-heading {
    margin-top: 20px;
  }
}

/* MOBILE */

@media screen and (max-width: 320px) {
  .header .heading {
    font-size: 30px;
  }

  .header .sub-heading {
    font-size: 25px;
  }
}
